/* fonts */

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Mono';
    font-style: normal;
    font-weight: bold;
    src: url('../font/lmmono-bold.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Mono';
    font-style: italic;
    font-weight: bold;
    src: url('../font/lmmono-bolditalic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Mono';
    font-style: italic;
    font-weight: normal;
    src: url('../font/lmmono-italic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Mono';
    font-style: normal;
    font-weight: normal;
    src: url('../font/lmmono-normal.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: normal;
    font-weight: bold;
    src: url('../font/lmroman-bold.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: italic;
    font-weight: bold;
    src: url('../font/lmroman-bolditalic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: italic;
    font-weight: normal;
    src: url('../font/lmroman-italic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: normal;
    font-weight: normal;
    src: url('../font/lmroman-normal.woff');
}

/* global */

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

time {
    color: gray;
    margin-left: 1rem;
    min-width: 5rem;
}

#wrapper {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    font-family: 'Latin Modern Roman', 'Times New Roman', serif;
    min-height: 100vh;
    overflow-wrap: break-word;
    padding: 1rem;
}

.link {
    color: #9d3c5e;
    text-decoration: none;
}

.head {
  color: #9d3c5e;
  text-decoration: none;
}

.paginator {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

::-webkit-scrollbar {
    background-color: #FAFAFA;
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #AAAAAA;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888888;
}

/* header */

#header {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#header > h1 {
    text-align: center;
}

@media screen and (min-width: 768px) {
    #header > h1 {
        font-size: 2.8rem;
    }
}

#header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 768px;
    width: 100%;
}

#header > nav > span > a {
    font-size: 1.2rem;
    color: #9466aa;
}

/* main */

#wrapper > #mainPage {
    align-self: center;
    display: flex;
    flex-direction: row;
    max-width: 1068px;
    width: calc(100% - 2rem);
}

#wrapper > #mainPage > .content, #wrapper > #mainPage > .leftbar, #wrapper > #mainPage > .rightbar {
    box-sizing: border-box;
    padding: 1em;
}

#wrapper > #mainPage > .content {
    max-width: 768px;
    width: 100%;
}

#wrapper > #mainPage > .leftbar {
    order: -1;
    flex-basis: 28%;
}

#wrapper > #mainPage > .rightbar {
    order: 1;
    flex-basis: 24%;
}

#wrapper > #nonMain {
    align-self: center;
    display: flex;
    flex-direction: row;
    max-width: 1468px;
    width: calc(100% - 2rem);
}

#wrapper > #nonMain > .content, #wrapper > #nonMain > .toc {
    box-sizing: border-box;
    padding: 1em;
}

#wrapper > #nonMain > .content {
    max-width: 768px;
    width: 100%;
    flex: 1;
}

#wrapper > #nonMain > .toc, #wrapper > #noSidebar > .toc {
    order: -1;
    flex-basis: 20%;
    background-color: #f5f5f5;
    color: #3b726c;
    position: relative;
}

#wrapper > #nonMain > .toc h3, #wrapper > #noSidebar > .toc h3 {
    color: #9d3c5e;
    font-weight: bold;
}

#wrapper > #nonMain > .toc ul, #wrapper > #noSidebar > .toc ul {
    list-style: none;
}

#wrapper > #nonMain > .toc li > ul, #wrapper > #noSidebar > .toc li > ul {
    margin-left: 1.5rem;
}

#wrapper > #nonMain > .toc a, #wrapper > #noSidebar > .toc a {
    color: #3b726c;
}

#wrapper > #nonMain > .toc a:hover, #wrapper > #noSidebar > .toc a:hover {
    color: #e17092;
    text-decoration: none;
}

#wrapper > #nonMain > .toc a:active, #wrapper > #noSidebar > .toc a:active {
    color: #e17092;
}

#wrapper > #noSidebar {
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: 768px;
    width: calc(100% - 2rem);
}

@media (max-width: 1200px) {
    #wrapper > #mainPage {
        flex-direction: column;
        align-items: center;
    }

    #wrapper > #mainPage > .content {
        margin-left: 0;
        margin-right: 0;
    }

    #wrapper > #mainPage > .leftbar {
        order: 1;
        flex-basis: 100%;
    }

    #wrapper > #mainPage > .rightbar {
        order: 2;
        flex-basis: 100%;
    }

    #wrapper > #nonMain {
        flex-direction: column;
        align-items: center;
    }

    #wrapper > #nonMain > .toc {
        display: none;
    }

    #wrapper > #nonMain > .content {
        order: 1;
        margin-left: 0;
        margin-right: 0;
    }
}

/* footer */

#footer {
    align-items: center;
    display: flex;
    font-size: .9rem;
    flex-direction: column;;
}

#footer > .footnote {
    text-align: center;
    color: #9466aa;
}

#footer > .footlink {
  color: #e17092;
  text-decoration: none;
}

#footer > .footcontent {
  color: #9466aa;
  text-decoration: none;
}
