.content .MathJax {
    font-size: 100%!important;
    overflow-x: auto;
    overflow-y: hidden;
}

.content .katex {
    font-size: 100%!important;
    overflow-x: auto;
    overflow-y: hidden;
}

.content :last-child {
    margin-bottom: 0;
}

.content a {
    color: #98F5FF;
    text-decoration: none;
}

.content a.footnote-ref::before {
    content: "[";
}

.content a.footnote-ref::after {
    content: "]";
}

.content blockquote,
.content div,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p,
.content pre,
.content ol,
.content table,
.content ul {
    margin-bottom: 1rem;
}

.content blockquote {
    background-color: #32302F;
    border-left: black 2px solid;
    font-style: italic;
    padding: 1rem 0 1rem 2rem;
}

.content code {
    background-color: #32302F;
    border-radius: .2rem;
    color: #83a598;
    font-family: 'Latin Modern Mono', Courier, monospace;
    padding: 0 .2rem;
}

.content h1, .content h2, .content h3,
.content h4, .content h5, .content h6 {
    line-height: 1.5;
    color: #87CEFA;
}

.content h1 {
    font-size: 2.4rem;
}

.content h2 {
    font-size: 1.8rem;
}

.content h3 {
    font-size: 1.4rem;
}

.content h4 {
    font-size: 1.2rem;
}

.content h5 {
    font-size: 1.1rem;
}

.content h6 {
    font-size: 1rem;
}

.content img {
    max-width: 100%;
}

.content p {
    text-align: justify;
    color: #fbf1c7;
}

.content pre {
    background-color: #32302F!important;
    border-radius: .2rem;
    font-family: 'Latin Modern Mono', Courier, monospace;
    margin-top: .5rem;
    overflow-x: auto;
    padding: .5rem;
}

.content pre code {
    padding: 0;
}

.content strong.chinese {
    font-weight: normal;
    text-emphasis-style: dot;
    text-emphasis-position: under;
    -webkit-text-emphasis-style: dot;
    -webkit-text-emphasis-position: under;
}

.content table {
    display: block;
    overflow-x: auto;
}

.content td, .content th {
    border: #575C61 1px solid;
    padding: .1rem .5rem;
    color: #fbf1c7;
}

.content th {
    background-color: #575C61;
    color: #FAFAFA;
}

.content ol, .content ul {
    margin-left: 1.5rem;
    color: #fbf1c7;
}
