#main > h1 {
    text-align: center;
    color: #9d3c5e;
}

#main > .content {
    padding-top: 1rem;
}

#main > .warning {
    background-color: brown;
    color: white;
    font-size: 1.1rem;
    margin: 2rem 0;
    padding: 1rem 0;
    text-align: center;
}

#main .toc {
    background-color: #f5f5f5;
    border: black 1px dashed;
    display: inline-block;
    margin: 1rem;
    padding: .5rem 1rem;
    color: #e17092;
}

#main .toc a:hover {
    text-decoration: none;
}

#main .toc li > ul {
    margin-left: 1.5rem;
}

#main .toc ul {
    list-style: none;
}

#main .toctext {
    color: #3b726c;
}

#main .keywords {
    background-color: #f5f5f5;
    /*border-radius: 0.25rem;*/
    padding: 0.2em 0.3em;
}

#main :target {
    background-color: azure;
}
