{{ if strings.Contains .Permalink "en" }}
<h2>News:</h2>
{{ $fileContent := readFile "/static/sidebar/news/en.txt" }}
{{ $lines := split $fileContent "\n" }}
<ul>
    {{ range first 3 $lines }}
      {{ if . }}
      <li><div style="color: #3b726c;">{{ . | safeHTML }}</div></li>
      {{ end }}
    {{ end }}
</ul>
{{ else }}
<h2>新闻:</h2>
{{ $fileContent := readFile "/static/sidebar/news/zh-cn.txt" }}
{{ $lines := split $fileContent "\n" }}
<ul>
    {{ range first 3 $lines }}
      {{ if . }}
      <li><div style="color: #3b726c;">{{ . | safeHTML }}</div></li>
      {{ end }}
    {{ end }}
</ul>
{{ end }}
