{{ if strings.Contains .Permalink "en" }}
<h2>Resources:</h2>
{{ $fileContent := readFile "/static/sidebar/resources/en.txt" }}
{{ $lines := split $fileContent "\n" }}
<ul>
    {{ range $line := $lines }}
      {{ if $line }}
      <li><div style="color: #e17092;">{{ $line | safeHTML }}</div></li>
      {{ end }}
    {{ end }}
</ul>
{{ else }}
<h2>资源:</h2>
{{ $fileContent := readFile "/static/sidebar/resources/zh-cn.txt" }}
{{ $lines := split $fileContent "\n" }}
<ul>
    {{ range $index, $line := $lines }}
      {{ if $line }}
      <li><div style="color: #e17092;">{{ $line | safeHTML }}</div></li>
      {{ end }}
    {{ end }}
</ul>
{{ end }}
